:root {
  --app-font: "Radio Canada", sans-serif;
}

.detail-container {
  position: relative;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  position: relative;
  width: 30%;
}

.counter-button {
  position: relative;
  background: #00334C;
  border: 2px solid #06B4FF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.counter-label {
  position: absolute;
  color: #f7f7f7;
  font-size: 15px;
  left: 20px;
  font-family: arial;
}

.counter-value {
  position: absolute;
  color: #f7f7f7;
  font-size: 15px;
  right: 20px;
  text-align: right;
  font-family: arial;
  font-weight: bold;
}

.title {
  position: relative;
  color: #f7f7f7;
  font-size: 40px;
  text-align: center;
  font-family: arial;
}

.sub-title {
  position: relative;
  color: #f7f7f7;
  font-size: 15px;
  text-align: center;
  font-family: arial;
}

.doc-lib-install {
  position: relative;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: white;
  margin-bottom: 20px;
}

.doc-install-label {
  position: absolute;
  color: #00334C;
  font-size: 15px;
  text-align: left;
  font-family: monospace;
  left: 15px;
}

.code-block {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.code-block pre {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid #06B4FF;
  border-radius: 5px;
}

.doc-install-copy-button {
  position: absolute;
  right: 5px;
  border: 1px solid #00334C;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 30px;
  background: none;
  cursor: pointer;
}
.doc-install-copy-button i {
  color: #00334C;
  font-size: 15px;
}
.doc-install-copy-button:active {
  background: #00334C;
}
.doc-install-copy-button:active i {
  color: white;
}

.tt-tt {
  background: rgba(0, 170, 255, 0.2);
}

.topic-group {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.topic-title {
  position: relative;
  font-family: var(--app-font);
  color: #f7f7f7;
  font-size: 23px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border-bottom: 1px solid #06B4FF;
  text-align: left;
}

.topic-content {
  position: relative;
  font-family: var(--app-font);
  color: #f7f7f7;
  font-size: 16px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.code-block-copy-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: var(--app-font);
  font-size: 12px;
  color: #ffffff;
  background: #06B4FF;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
}
.code-block-copy-button:active {
  background: #ffffff;
  color: #06B4FF;
}

.topic-highlight {
  color: #06B4FF;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #032230;
}

.root-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.side-bar {
  position: relative;
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #032230 transparent;
}
.side-bar::-webkit-scrollbar {
  width: 6px;
}
.side-bar::-webkit-scrollbar-track {
  background: transparent;
}
.side-bar::-webkit-scrollbar-thumb {
  background: #032230;
  border-radius: 0;
}

.doc-area {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #0296f8 transparent;
}
.doc-area::-webkit-scrollbar {
  width: 6px;
}
.doc-area::-webkit-scrollbar-track {
  background: transparent;
}
.doc-area::-webkit-scrollbar-thumb {
  background: #0296f8;
  border-radius: 0;
}

.doc-header {
  position: relative;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doc-header-logo {
  position: absolute;
  height: 30px;
  left: 15px;
}

.doc-version-label {
  position: absolute;
  right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: initial;
  color: #032230;
}

.menu-group {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 10px;
}

.menu-section-title {
  position: relative;
  font-family: var(--app-font);
  font-size: 17px;
  font-weight: initial;
  text-align: left;
  color: #0296f8;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}

.menu-button {
  position: relative;
  font-family: var(--app-font);
  font-size: 14px;
  font-weight: initial;
  text-align: left;
  color: #032230;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-button:hover {
  text-decoration: underline;
  background: #eeeeee;
}

.menu-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f7f7f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
}

.router-view {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.footer-container {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #1B1E28;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #0296f8;
}

.footer-logo {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
}

.footer-copy {
  position: relative;
  font-family: var(--app-font);
  font-size: 12px;
  font-weight: initial;
  text-align: center;
  color: #f7f7f7;
}

.footer-made-in-label {
  position: relative;
  font-family: var(--app-font);
  font-size: 10px;
  font-weight: initial;
  text-align: center;
  color: #f7f7f7;
  margin-top: 2px;
}

.footer-license-label {
  position: relative;
  font-family: var(--app-font);
  font-size: 10px;
  font-weight: initial;
  text-align: center;
  color: #f7f7f7;
  margin-top: 2px;
}

.footer-link {
  position: relative;
  font-family: var(--app-font);
  font-size: 12px;
  font-weight: initial;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  gap: 5px;
}
.footer-link a {
  color: #0296f8;
}

/*# sourceMappingURL=global.css.map */
