// GLOBAL STYLE : 

@use "./theme.scss";
@use "./modules/example-module.scss";
@use "./modules/overview-section.scss";
@use "./modules/quick-start-section.scss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display : flex;
    justify-content : center;
    align-items : center;
    background: #032230;
}

.root-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : row;
} 

.side-bar {
    position: relative;
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    background: #ffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #032230 transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #032230;
        border-radius: 0;
    }
}

.doc-area {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #0296f8 transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0296f8;
        border-radius: 0;
    }
}

.doc-header{
    position: relative;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display : flex;
    justify-content : center;
    align-items : center;
}

.doc-header-logo{
    position: absolute;
    height : 30px;
    left: 15px;
}

.doc-version-label{
    position: absolute;
    right: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: initial;
    color : #032230;
}

.menu-group{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-direction : column;
    margin-left : 30px;
    padding-top: 10px;
}

.menu-section-title{
    position: relative;
    font-family: var(--app-font);
    font-size: 17px;
    font-weight: initial;
    text-align: left;
    color : #0296f8;
    width : 100%;
    height : 25px;
    box-sizing: border-box;
}

.menu-button{
    position: relative;
    font-family: var(--app-font);
    font-size: 14px;
    font-weight: initial;
    text-align: left;
    color : #032230;
    width : 100%;
    height : 25px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover{
        text-decoration: underline;
        background : #eeeeee;
    }
}



.menu-container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f7f7f7;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-direction : column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
}

.router-view{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-direction : column;
    margin-top: 70px;
}

